@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{font-family: 'Poppins', sans-serif !important; background-color: #fff;}
.box {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #152575;
    color: #fff;
    display: inline-block;
    font-size: 12px;
}
.textdecnone{
  text-decoration: none!important;
  text-decoration: none!important;
}
.error{
    top: inherit;
    color: red;
    font-weight: 400;
    font-size: 12px;
    left: inherit;
    bottom: -20px;
    background: inherit;
    width: auto;
}
.box1 {
    padding: 10px;
    border: 1px solid #fd8500;
    border-radius: 5px;
    background: #fd8500;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin-left: 2%;
}


table.gridtable tr.shed th {
    background: #b0dbe6 !important;
    color: black;
}

table.gridtable tr:nth-child(even) {
    background: #f3f3f3
}

table.gridtable tr:nth-child(odd) {
    background: #FFF
}

.hidden {
    display: none !important;
}

.highlight {
    background-color: #FFFF00;
}

.buttonsub {
    color: #fff;
    background-color: #EB9B42 !IMPORTANT;
    text-decoration: none;
    font-size: 13px;
    padding: 4px 16px !important;
    font-weight: normal;
    margin: 0 !important;
    width: auto !IMPORTANT;
    border: none !important;
	margin-right:4px !important;
}

.blue-s {
    background-color: #2767ba;
}

.blue-s.update-btn{
    background-color: #2767ba !important;
}

input[type='text'], input[type='tel'] {
    width: 173px;
    height: 24px;
    margin: 8px 2px 2px 2px;
    padding: 3px;
}

select:not([multiple]) {
    width: 173px;
    margin: 9px 2px 2px 2px;
    padding: 3px;
}
.roi-slab-table td input[type='text'], .roi-slab-table td input[type='tel']{
    width: 70px;
}
.roi-slab-table td select:not([multiple]){
    width: 70px;
}

fieldset {
    margin-bottom: 10px;
    margin-top: 10px;
}

fieldset input[type='submit'], input[type='button'], input[type='submit'], input[type='reset'] {
    color: #fff;
    background-color: #EB9B42;
    border-radius: 4px;
    font-size: 12px;
    margin: 10px 4px;
    padding: 5px 16px;
    font-weight: normal;
	height: 30px;
	border:0;
}

.fw_bold {
    font-weight: bold !important;
}

legend {
    color: #2E2EAB;
    font-weight: bold;
}

.pointer_n {
    pointer-events: none;
}

.ui-widget {
    font-family: Roboto !important;
    font-size: 12px !important;
}

.ui-datepicker {
    width: 15em !important;
    padding: .2em .2em 0 !important;
    display: none;
}

.span9 {
    padding: 5px;
}

.a_link_style {
    text-decoration: none;
}

.center {
    text-align: center;
    padding-bottom: 1%;
    font-weight: 600;
}

.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mr50 {
    margin-right: 50px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mtp50 {
    margin-top: 50%;
}

.mtp7 {
    margin-top: 7%;
}

.mall_10 {
    margin: 10px;
}

.mall_20 {
    margin: 20px;
}

.mall_30 {
    margin: 30px;
}

.mall_40 {
    margin: 40px;
}

.mall_50 {
    margin: 50px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}
.ml4{
    margin-left: 4px!important;
}
.f_14 {
    font-size: 14px!important;
}
.f_13 {
    font-size: 13px!important;
}
.bold{
    font-weight: bold;
}

.f_12 {
    font-size: 12px !important;
}

.f_9 {
    font-size: 9px !important;
}

.f_10 {
    font-size: 10px !important;
}

.f_16 {
    font-size: 16px;
}

.f_20 {
    font-size: 20px;
}

.fRight {
    float: right;
}

.fleft {
    float: left;
}

.dstr-td {
    border: 1px solid;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
}

.qry_link {
    color: #17902e !important;
    font-size: 14px !important;
}

.lead_submenu {
    color: #fff;
    background-color: #344a73;
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.42857143;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

.ui-autocomplete {
    width: 175px !important;
}

.lead_count {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #4b5061;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f0a636;
    font-weight: bold;
}

.submenu_padding {
    padding: 16px;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #f3f3f3;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

.w30 {
    width: 15% !important;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.cursor {
    cursor: pointer !important;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.topbase {
    background-color: #FFF;
    background-repeat: repeat-x;
    height: 70px;
}

table.gridtable {
    font-family: Roboto;
    font-size: 12px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}

table.gridtable th {
    border-width: 1px;
    padding: 10px;
    border-style: solid;
    border-color: #bbbbbb;
    background-color: #18375f;
    font-size: 13px;
    color: #ffffff;
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #bbbbbb;
    background-color: #efecec1a;
    font-size: 13px;
    font-weight: 500;
    color: black;
}

.green {
    color: #008000!important;
}

.orange {
    color: #E87D24!important;
}

.blue {
    color: #2E2EAB!important;
}

.red {
    color: #F00!important;
}
.yellow {
    color: rgb(239, 243, 10)!important;
}

.td_content {
    font-weight: bold;
    font-size: 16px;
    color: #2767ba;
    text-align: left;
    background: #dddddd;
}

.td_border {
    border-bottom: 1px solid #E6E6E6;
}

.txt-dec {
    text-decoration: none;
}

.clear {
    clear: both;
}

.pdT5 {
    padding-top: 5px !important;
}

.pdT8 {
    padding-top: 8px !important;
}

.pdT10 {
    padding-top: 10px !important;
}

.pdT15 {
    padding-top: 15px !important;
}

.pdT20 {
    padding-top: 20px !important;
}
.has_link {
    text-decoration: none;
}
.fs-10 {
    font-size: 10px !important;
}
.fs-11 {
    font-size: 11px !important;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-13 {
    font-size: 13px !important;
}
.pb-0 {
    padding-bottom: 0px !important;
}
.center-align {
    text-align: center;
}
.badge-success {
    color: #FFF !important;
    background-color: #28A745;
}
.badge-success-orange {
    color: #FFF !important;
    background-color: #E87D24;
}
.badge-success-blue {
    color: #FFF !important;
    background-color: #2E2EAB;
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.badge {
    display: inline-block;
    padding: .30em .4em;
    padding-right: 0.4em;
    padding-left: 0.4em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.valign-mid {
        vertical-align: middle;
}
.menu-fixed-custom {
    height: 44px !important;
    line-height: 0.7 !important;
    background-color: #18375f !important;
}
.nav-menu1-custom {
    height: 44px !important;
    line-height: 0.9 !important;
}
.font-weight-bold {
    font-weight: bold !important;
}
.align-center {
    text-align: center!important;
}
.tab-view {
    width: 8% !important;
    font-size: 12px !important;
    font-weight: 700 !important;
}
.logout-text {
    position: relative;
    margin: 0 auto!important;
    padding: 6px;
    color: #ffffff!important;
}
.logout-text-new {
    position: relative;
    margin: 0 auto!important;
    padding: 6px;
    width: calc(100% - 10px);
    color: #ffffff!important;
}
.logout-icon img {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(50%, -50%);
    vertical-align: middle;
    width: 15px;
}
.logout-icon {
    position: relative;
}
.like-dislike-btn {
    font-size: 12px !important;
    padding: 5px 12px !important;
    margin: 5px 5px !important;
}
.like-dislike-td {
    position: relative;
    width: 14%;
}
.like-dislike-span {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.like-dislike-span span {
    padding: 0 2px;
    cursor: pointer;
    color: #eb9b42;
}
.like-dislike-span a:nth-child(1) span:before,
.like-dislike-span a:nth-child(2) span:before {
    content: "\f164";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
}
.like-dislike-span a:nth-child(2) span:before {
    content: "\f165";
}
.rm-name {
    display: block;
    width: 70%;
}
.like-shadow-effect {
    color: green !important;
}

.dislike-shadow-effect {
    color: red !important;
}

.badge-failure {
    color: #FFF !important;
    background-color: red;
}

.badge-blue {
    color: #FFF !important;
    background-color: #19375f;
    font-size: 13px !important;
}

.mandatory_field {
    border: 1px solid red !important;
}
#doc_open {
	display: block;
    clear: both;
    margin: auto;
    text-align: center;
    margin-left: 10%;
    margin-top: 20px;
}
#doc_open iframe {
	    width: 80%;
    height: 100%;
	margin:auto;
}
#doc_open iframe img {
	width:100%;
}

.login-password {
    width: 173px !important;
    height: 24px !important;
    margin: 8px 2px 2px 2px !important;
    padding: 3px !important;
}

.tc_internal_div {
    position: sticky;
    top: 30px;
}
.tc_th {
    line-height: inherit;
    padding: 5px
}
.tc_sticky {
    position: sticky;
    top: 0;
    line-height: 2;
}

.tc_div {
    position: relative;
    height: 300px;
    overflow: auto;
    border: 1px solid #18375f;
    line-height: 1.5;
    box-sizing: border-box;
}
.script-tab {
    width: 50%;
    border: 1px solid #eb9b42;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}
.script-tab:focus {
    outline: 0;
}
.script-active {
    background:#ffffff;
    border-bottom: 1px solid #ffffff;
}
.language {
    border:1px solid #eb9b42;
    border-top:0px;
    padding:5px;
    font-size:14px;
}
.badge-failure {
    color: #FFF !important;
    background-color: rgb(230, 27, 27);
}

.show-more {
    position: absolute;
    width: 300px;
    top: 10;
    right: 10;
    background: #ffffff;
    border: 1px solid #18375f;
    border-radius: 5px;
    box-shadow: 0px 0px 8px -3px #000000;
    padding: 10px 5px;
    min-height: 70px;
    z-index: 10;
    overflow-y: scroll;
    height: 500px;
    overflow-x: hidden;
}

.click-show {
    width: 85px;
    display: block;
}
.show-less {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    background: #18375f;
    display: block;
    width: 20px;
    height: 18px;
    color: #ffffff;
    padding: 4px 0px;
}

.show-more i {
    padding: 2px 3px;
    display: inline-block;
    margin: 1px;
    border-radius: 3px;
    color: #18375f;
    font-size: 12px;
}
.show-more i:nth-child(odd) {
    background: #EB9B42;
}
.show-more i:nth-child(even) {
    background: #18375f;
}
.show-more i a {
    color: #ffffff;
}
.head-date {
    margin: -10px;
    padding: 5px;
    background: #dddddd;
    font-size: 14px;
    position: sticky;
    top: -10px;
    box-shadow: 3px 0px 3px 0px #000000;
}

.dis-flex {
    display: inline-flex;
    margin: 8px;
}

.border-top {
    display: block;
margin: 10px auto;
font-size: 14px;
padding-top: 10px;
border-top: 1px solid #18375f;
}
.nav-resetbtn { display: flex; flex-direction: row-reverse; align-items: center; justify-content: center; margin-left: auto !important; }
.nav-resetbtn .logout-text{ display: flex; margin-left: 0!important; }
.nav-resetbtn .logout-text a { margin: 0px 3px; }
.nav-resetbtn li.watch-li{ text-align: center; padding: 8px 10px; position: relative; display: flex; }
.nav-resetbtn .wn-badge{ right: 0; }
/* .nav-resetbtn li{ display: flex!important; align-items: center; } */
.nav-resetbtn .logout-text-new { float: left!important }
.nav-resetbtn .logout-icon { margin-top:0px }
.mlc-user-name {padding: 0px 0px 0px 0px; margin-right: 0px; padding-right: 0;}
.watch-badge{position: relative;}
.watch-badge .wn-badge{top: 0px!important;}
.name-logout {display: flex; width: auto;align-items: center;justify-content: center;margin-left:1rem;}
.after_login_user{display: flex!important; align-items: center;justify-content: flex-start;}
.after_login_user .logout-icon{ margin:0px;}
body { margin: 0; padding: 0;  background: #FFF; }
/* Navigation Bar */
.nav-bar {	background: #045d73;  font-size: 14px;  font-family: Arial, sans-serif;  text-align: left;  /* May want to align center */ }
.nav-bar1 {	background: #eb9b42;  font-size: 14px;  font-family: Arial, sans-serif;  text-align: left;  /* May want to align center */ }
.nav-menu a {  color: #fff;  /* White font for link color. */ } 
.nav-menu1 a {  color: #fff;  /* White font for link color. */ }
.nav-menu, .nav-menu ul { list-style: none; margin: 0;  padding: 0;} 
.nav-menu1, .nav-menu1 ul {  list-style: none;  margin: 0;  padding: 0;}
.nav-menu li {  position: relative;}
.nav-menu1 li {  position: relative;}
.nav-menu a {  margin: 18px 13px;  display: block;  text-decoration: none;  border-radius: .2em;  /* Nice little rounded corners. */ }
.nav-menu1 ul li a {	 padding: 5px 10px;      margin: 5px 10px !important;}
.nav-menu1 a:hover {  opacity: 1.0;}
.nav-menu ul li a {	 border-bottom: 1px dotted #ecd9d9; padding: 4px 4px; font-size:13px; margin: 0px 10px !important;}
.nav-menu a:hover {  opacity: 1.0;}
/* Selected Menu Item */
.nav-menu > li:hover { opacity: 1.0;  background: #eb9b42;color: #000 !important; }
.selected { opacity: 1.0; background: rgba(255, 255, 255, 0.5); color: #000 !important; border-radius: .2em; }
/* Navigation Bar - Level 1 Drop Down Menu */
.nav-menu > li {  display: inline-block;  vertical-align: top;  margin-left: -4px;  font-weight: 400; }
.nav-menu > li:first-child {  margin-left: 20px; }
.nav-menu > li > a {}
.nav-menu > li > a:hover {}
.nav-menu1 > li {  display: inline-block;  vertical-align: top;  margin-left: -4px;  font-weight: 400;}
.nav-menu1 > li:first-child {  margin-left: 20px;}
.nav-menu1 > li > a {}
.nav-menu1 > li > a:hover {}
/* Navigation Bar - Level 2 */
.nav-menu1 > li > ul {text-align: left; width: auto; display: none; background: #eb9b42; position: absolute; top: 100%; left: 0; padding-bottom: 5px;min-width: 160px;border-radius: 0 0 .5em .5em; z-index: 9999999;}
.nav-menu1 > li:hover > ul {  display: block;}
.nav-menu1 ul li a {}
.nav-menu1 ul li a:hover {}
.nav-menu > li > ul {text-align: left; width: auto; display: none; background: #eb9b42; position: absolute; top: 100%; left: 0; padding-bottom: 5px;  min-width: 160px;  border-radius: 0 0 .5em .5em;  z-index: 9999999; line-height: 15px}
.nav-menu > li:hover > ul {  display: block;}
.nav-menu ul li a { }
.nav-menu ul li a:hover { }
/* Navigation Bar - Level 3 */
.nav-menu1 > li > ul > li > ul { text-align: left;  display: none;  background: #d48a49; position: absolute;  left: 100%;  top: 0;  padding-bottom: 5px;  min-width: 180px;  border-radius: 0 0 .5em .5em;  z-index: 9999999;}
.nav-menu1 > li > ul > li:hover > ul { display: block;}
.nav-menu1 ul ul li {}
.nav-menu1 ul ul li a {}
.nav-menu ul ul li a:hover {background-color: #045d73;}
.nav-menu > li > ul > li > ul { text-align: left;display: none; background: #d48a49; position: absolute;  left: 100%;  top: 0;  padding-bottom: 5px;  min-width: 180px;      border-top-right-radius: 5px;    border-bottom-right-radius: 5px; z-index: 9999999;}
.nav-menu > li > ul > li:hover > ul {  display: block;}
.nav-menu ul ul li {}
.nav-menu ul ul li a {font-size:12px; border-bottom: 1px dotted #ecd9d9;}
.nav-menu ul ul li a:hover {}
.nav-menu > li > ul > li:hover { background: #2767c7;}
    
/* Navigation Bar - Level 4 */
.nav-menu > li > ul > li > ul > li > ul { text-align: left; display: none; background: #2767c7; position: absolute;  left: 100%;  top: 0;  padding-bottom: 5px;  min-width: 250px;  border-radius: 0 0 .5em .5em;  z-index: 9999999;}
.nav-menu > li > ul > li > ul > li:hover > ul {  display: block; }
.nav-menu ul ul ul li {}
.nav-menu ul ul ul li a {}
.nav-menu ul ul ul li a:hover {}
.caret { display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px solid; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.caret-inner {display: inline-block;width: 0;height: 0; margin-left: 5px; vertical-align: middle; border-left: 5px solid; border-top: 5px solid transparent; border-bottom: 5px solid transparent;}
.class-fixed{position: fixed;z-index: 5;transition:ease-in-out;top:0px;}.fixed_move_btn{top: 54px;right: 14.2%;}
.tab_position{top:44px;left:0px;background:#ffffff;width:98%;padding-left:1%;padding-right:1%;box-shadow:0px 10px 10px -10px #000000;}
.lds-css {
    /* display: none; */
    position: fixed;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    padding: 18% 0;
    text-align: center;
    z-index: 5;
}
.lds-spinner {
    width: 130px!important;
    height: 130px!important;
    position: relative;
    margin: 10px auto;
    -webkit-transform: translate(-100px,-100px) scale(1) translate(100px,100px);
    transform: translate(-100px,-100px) scale(1) translate(100px,100px);
}
.lds-spinner img {
    width: 100%;
    border-radius: 100px;
}
.loader_text {
    text-align:center;
    color:white;
    display:block;
    padding: 15px;
}
.main-text-position {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    text-align:center;
}
.filter-triangle,
            .filter-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            text-align: center;
            color:#eb9b42;
            }

            .filter-bar {
            top: 0.1em;
            }
            .status_label{
                top: 13px;
                position: relative;
                left: 10px;
            }
            table.gridtable th{
                text-align:left;
            }
            .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 26px;
            }

            .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
            }

            .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #dc2c2c;
            -webkit-transition: .4s;
            transition: .4s;
            }

            .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            }
            .stickey {
                position: sticky;
                top: 0;
                z-index: 99;
            }
            input:checked + .slider {
            background-color: #008000;
            }

            input:focus + .slider {
            box-shadow: 0 0 1px #008000;
            }

            input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
            border-radius: 34px;
            }

            .slider.round:before {
            border-radius: 50%;
            }
            .filter-icon{
                border: none;
                background: transparent;
                cursor: pointer;
            }
            .filter-icon img{
                width: 40px;
                margin-top: 12px;
                margin-right: 50px
            }
            .text-right{text-align:right;}
.hi-badge {position: absolute; top: 0px; right: 0px; padding: 3px 5px; border-radius: 50%; background: #47d14c; color: white; font-weight: bold; font-size: 9px; }
    .hi-badge-1 {position: absolute; left: 25px !important; top: 5px !important;padding: 3px 5px; border-radius: 50%; background: #47d14c; color: white; font-weight: bold; font-size: 9px;}


.red_button{
    color: #fff !important;
    background-color: #ee0000 !important;
}
	
