.bg-gray{
    background-color: gray;
} 
.bg-green{
    background-color: #65C765;
} 
.bg-red{
    background-color: red;
} 
.bg-amber{
    background-color: yellow;
}	
.darkwindow-pop {
    background: rgb(0 0 0 / 64%);
    position:fixed;
    height:100%;
    width:100%;
    left:0;
    top:0;
    z-index:9999;
}
.lightpop {
    background: #F1FFF8;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 24px;
    padding: 20px;
    box-sizing: border-box;
    position:relative;
    overflow-y: auto;
    height: 94vh;
}
.lightpop-hdb{
    width:94% !important;
    margin:1% auto !important;
    overflow-y: hidden !important;
}
.lightpop .pophead {
    display:flex;
}
.lightpop .pophead h1 {
    flex: 1;
    margin: 20px 0;
    margin-bottom: 30px;
    font-size: 16px;
    margin-top: 0;
}
.popdetails {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    font-size: 14px;
    position: relative;
    margin-bottom:30px;
    border:1px solid #ddd;
}
.popdetails .detailshead {
    position: absolute;
    background: #226EE1;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    top: -12px;
    font-size: 12px;
}
.popdetails .moredetails {
    display:flex;
    flex-wrap:wrap;
}
.popdetails .moredetails p {
    flex: 20% 0 0;
    font-weight: bold;
    padding: 0 10px;
    box-sizing: border-box;
    word-break: break-word;
    font-size: 12px;
    margin-bottom:0;
}
.popdetails .moredetails p span {
    font-weight:normal;
    color: #9f9696;
    display:block;
}
#closedkwndow {
    position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    background: red;
    color: #fff;
    line-height: 30px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    font-weight: bold;
    cursor: pointer;
}
#closedkwndow:hover {
    background: #ed0202;
}
#new-1{
    background: #7c5bd9;
    width: 40px;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    z-index: 99;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    box-sizing: border-box;
    position: absolute;
    right: 46px;
    top: -44px;
}
#new-1 img{
    width: 30px;
    padding-top: 5px;
}
.box-view-application-details{
    height: 62vh;
    overflow-y: auto;
}
.table-box-application-details{
    position: sticky;
    top: -20px;
    z-index: 999;
}
.lightpop-hdb-doc-push{
    width:30% !important;
    margin:10% auto !important;
    overflow-y: hidden !important;
    height: auto;
}

.high-risk-status_flag_green{
    background-color: green; 
    color: white; 
    font-weight: 700; 
    width: 10%; 
    display: inline-block; 
    text-align: center;}

.high-risk-status_flag_red{
    background-color: red; 
    color: white; 
    font-weight: 700;
    width: 10%;
    display: inline-block; 
    text-align: center; }

.red_button{
    color: #fff !important;
    background-color: #ee0000 !important;
}


