body{
	margin:0;
	font-family:roboto;
}

#banner{
	margin:0 0 50px 0;
	padding:20px;
	width:100%;
	height:100px;
}

#form_div{
	padding:10px;
	width:500px;
	margin:0 auto;
}

.field{
	padding: 10px;
}
.hidden{
	display: none;
}
.blue{
color: rgb(15, 0, 255);
font-size: 18px;
}
.field_lbl{
	float:left;
	margin:0 10px 0 0;
	width:80px;
	font-weight:bold;
}

.field_val{
	float:left;
}

.field_div{
	display:block;
}

.field_input{
	display:none;
}

.btns{
	display:none;
	margin:0 0 0 8px;
}

.clear_fix{
	clear:both;
}