.text1{
	color: #999999;
	font-family: roboto;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 1px;
	margin-left:20px;
	cursor: pointer;
	}


    .onoffswitch {
        position: relative; width: 90px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: roboto; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #34A7C1; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 18px; margin: 6px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 56px;
        border: 2px solid #999999; border-radius: 20px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }
.rec_user{
   text-align: center;
background-color: #E6E8EC;
color: #330C0C;
font-weight: bold;
padding: 6px;
margin-bottom: 10px;
cursor: pointer;
border-radius: 5px;
border: 1px solid #000;
width: 91%;

margin-left: 4%;
margin-right: 4%;
    }
    
    .rec_user:hover{
   background: #666;
    color: #fff;
    }

/*upload stmnt Css atart*/
.upload_stmnt{
    position: relative;
    cursor: pointer;
    float: right;
    right: -15%;
    top: -32px;
    height: auto!important;
    padding: 7px 12px!important;
}