@font-face {
    font-family: 'poppinsbold';
    src: url('../../cms/fonts/poppins-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsregular';
    src: url('../../cms/fonts/poppins-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinssemibold';
    src: url('../../cms/fonts/poppins-semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsmedium';
    src: url('../../cms/fonts/poppins-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.table tr td a {
    color: #0000ee;
}

.new-leadsbox {
    background: #F2FFF8;
    border: 1px solid #0FA82E;
    border-radius: 10px;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 25px;
}

.new-leadsbox span {
    min-width: 130px;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    flex-direction: column;
    color: #011149;
}

.leadsbox2.high-risk {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
    font-size: 12px;
    font-family: 'poppinsmedium';
    border: 0px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.new-leadsbox.high-risk span {
    color: #525660;
}

.new-leadsbox .blue-color {
    color: #4D3ECC !important;
    font-size: 12px;
    line-height: 140%;
    font-weight: 400;
}

.red-button {
    background-color: #D0342C;
    color: white !important;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    width: fit-content;
    font-size: 12px;
    line-height: 140%;
    border: 0px solid;
    outline: none;
    padding: 4px 12px;
}

.green-button {
    background-color: #0FA82E;
    color: white !important;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    width: fit-content;
    font-size: 12px;
    line-height: 140%;
    border: 0px solid;
    outline: none;
    padding: 4px 12px;
}

/* 
.tab {
    gap: 20px;
    background-color: #F3F2FF;
} */

.no-break {
    white-space: nowrap;
}

/* .tab.tracktabs {
    overflow: auto;
    background-color: #fff;
    padding: 0px 45px;
    gap: 40px;
    border-radius: 10px;
} */

/* .tab.tracktabs::-webkit-scrollbar {
    width: 0px;
    height: 0px;
} */

/* 
.tab button {
    border: 0px solid;
    background: #E4E2F8;
    padding: 0;
    height: 56px;
    line-height: 140%;
    font-size: 18px;
    color: #011149;
    cursor: pointer;
    flex: 1;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: none;
    font-family: 'poppinssemibold' !important;
} */

/* .tab button.active {
    border: 0px solid;
    border-bottom: 4px solid #4D3ECC;
    background: #ffffff;
    color: #4D3ECC;
    font-weight: 600;
    font-family: 'poppinssemibold' !important;
} */

/* .tablinks.tracktab {
    background-color: #fff;
    font-size: 14px;
    white-space: nowrap;
    border-bottom: 0px;
    position: relative;
} */

.right-back-btn {
    position: absolute;
    right: 0px;
    width: 30px;
    border-radius: 50%;
    top: 12px;
    background: #f1f2f1;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.right-back-btn img {
    transform: rotate(180deg);
}

.hovered-div:hover .scrollbtns {
    display: block;
}

.scrollbtns {
    position: relative;
    width: 100%;
    display: none;
}

.left-back-btn {
    position: absolute;
    left: 0px;
    width: 30px;
    border-radius: 50%;
    top: 12px;
    background: #f1f2f1;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* .tablinks.tracktab.active {
    border: 0px solid;
} */
/* 
.tablinks.tracktab.active::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 4px;
    border-radius: 10px;
    background-color: #4D3ECC;
    margin: 0 auto;
    bottom: 12px;
    left: 0;
    right: 0;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
} */

.new-boxview {
    font-size: 14px;
    margin: 10px 0;
    margin-bottom: 0px;
}

.blue-heading-new.disbursement-date {
    border-radius: 10px;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
}

.disbursement-date input {
    padding: 14px 20px;
    margin: 0;
}

.tablecolum.new-view {
    display: flex;
    align-items: center;
    border: 0px;
    gap: 6px;
    flex: auto;
    border-right: 0px solid;
    padding: 12px 30px;
}

.tablecolum.new-view:nth-child(:last-child) {
    border-right: 0px;
}

.tablecolum.new-view label {
    font-size: 12px;
    display: block;
    font-family: 'poppinsmedium';
    color: #000;
}

.tablecolum.new-view.update-col {
    justify-content: space-around;
}

.tablecolum.new-view.update-col .radiolist label {
    display: flex;
    border: 0px;
    align-items: center;
}

.new-box-view {
    padding: 0px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    border: 0px solid;
}

.tablecolum.new-view input {
    background: #FFFFFF;
    border: 1px solid #E4E2F8;
    border-radius: 10px;
    font-size: 12px;
    font-family: 'poppinsregular';
}

.tablecolum.new-view input[type=radio] {
    accent-color: #0FA82E;
}

.tablecolum.new-view .buttonsub {
    background-color: #4D3ECC !important;
    padding-left: 30px !important;
}

.upload-opt {
    position: relative;
}

.upload-img-pos {
    position: absolute;
    top: 4px;
    left: 6px;
}

/* css by parvesh raghav start */
.table-head-new {
    background-color: #2767c7;
    border-radius: 10px 10px 0px 0px;
    padding: 9px 30px;
    color: #fff !important;
    margin-bottom: 0px
}

.blue-heading-new .table {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.table-head-new h2 {
    color: #fff !important;
    margin: 0;
    font-size: 16px;
    font-family: 'poppinssemibold';
}

.first-div-seprate-new table,
.second-div-seprate-new table {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}

.first-div-seprate-new table tr td {
    font-size: 12px;
    padding: 8px 30px;
}

.first-div-seprate-new table tr td:first-child {
    font-family: 'poppinsmedium';
    border-left: 0px;
    border-right: 0px;
}

.second-div-seprate-new table tr:last-child td:first-child,
.first-div-seprate-new table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.second-div-seprate-new table tr:last-child td:last-child,
.first-div-seprate-new table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.second-div-seprate-new table {
    background-color: #fff;
    border: 0px;
}

.first-div-seprate-new table {
    background-color: #fff;
    border: 0px;
    margin-bottom: 0px !important;
}

.second-div-seprate-new table tr td {
    font-size: 12px;
    padding: 8px 30px;
}

.second-div-seprate-new table tr td:nth-child(2) {
    border-right: 0px;
}

.second-div-seprate-new table tr td:first-child {
    font-family: 'poppinsmedium';
    border-left: 0px;
    border-right: 0px;

}

.first-div-seprate-new table tr td:nth-child(2) {
    border-right: 0px;
}

.second-div-seprate-new table tr:last-child td,
.first-div-seprate-new table tr:last-child td {
    border-bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.second-div-seprate-new table tr td ul {
    padding: 0px 30px;
}

.second-div-seprate-new table tr td ul li {
    display: flex;
    justify-content: space-between;
}

.second-div-seprate-new table tr td ul li strong {
    font-size: 12px;
    font-family: 'poppinsmedium';
}

.second-div-seprate-new table tr td ul li span {
    font-size: 12px;
    font-family: 'poppinsregular';
}

.blue-heading-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.blue-heading-new .radiolist label {
    border-radius: 10px;
    background-color: #fff;
    margin: 0px 5px !important;
    padding: 4px 12px !important;
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-heading-new .radiolist input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    /* background-color: #8A91A1; */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translateY(-0.075em);
    transform: translateX(-10px);
    display: grid;
    place-content: center;
    padding: 0;
}

.blue-heading-new .radiolist input[type="radio"]::before {
    content: "\2713";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-heading-new .radiolist label:first-of-type input[type="radio"]::before {
    background-color: #0FA82E;
    color: #fff;
}

.blue-heading-new .radiolist label:first-of-type .disable-input::before{
    background-color: #ddd !important; 
}

.blue-heading-new .radiolist label:first-of-type input[type="radio"]::before {
    background-color: #0FA82E;
    color: #fff;
}

.blue-heading-new .radiolist label:last-of-type input[type="radio"]::before {
    background-color: #D0342C;
    color: #fff;
}

.blue-heading-new .radiolist input[type="radio"]:checked::before {
    transform: scale(1);
}

.blue-heading-new .radiolist input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.boxview-new {
    border-radius: 0px 0px 10px 10px !important;
    padding: 0px !important;
    color: #011149 !important;
    font-size: 12px !important;
    border: 0px !important;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1) !important;
    margin-bottom: 0px !important;
}

.bg-blue-new {
    background-color: #E4E2F8 !important;
}

.text-white-new {
    color: #011149 !important;
    font-size: 16px !important;
    font-family: 'poppinssemibold';
}

.border1-new {
    border-left: 0px !important;
    border: 1px solid #D5D7DD !important;
    background-color: #FFFFFF;
    border-bottom: 0px !important;
    border-right: 0px !important;
    padding: 4px 30px
}

.border1-new label {
    font-weight: 600;
    font-size: 14px;
}

.border1-new input:disabled {
    font-size: 12px !important;
    margin-top: 0px;
}

.border1-new:first-child {
    border-left: 0px !important;
    font-weight: 600;
    font-size: 16px;
    font-family: 'poppinssemibold';
    background-color: #fff !important;
    /* box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1) ; */
}

.border1-new:last-child {
    border-right: 0px !important;
}

.border1-new:nth-child(2) {
    border-right: 0px !important;
}

.table-2-0 {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.table-2-0 th {
    background-color: #2767c7 !important;
    padding: 8px 30px;
    font-size: 16px;
    font-family: 'poppinssemibold';
    width: 25%;
}

.table-2-0 tr td:first-child {
    color: #011149 !important;
    font-size: 12px;
    padding: 8px 30px;
    font-weight: 600;
    border-left: 0px !important;
    font-family: 'poppinsmedium';
}

.table-2-0 tr td:last-child {
    border-right: 0px !important;
}

.table-2-0 tr td {
    border: 1px solid #D5D7DD !important;
    color: #011149 !important;
    font-size: 12px;
    padding: 8px 30px;
}

.table-new-3,
.table-2-0 {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}

.table-2-0 tr:last-child td,
.table-new-3 tr:last-child td {
    border-bottom: 0px !important;
}

.table-2-0 tr:last-child td:first-child,
.table-new-3 tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table-2-0 tr:last-child td:last-child,
.table-new-3 tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.table-new-3 {
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.table-new-3 tr th:first-child {
    border-left: 0px;
}

.table-new-3 tr th:last-child {
    border-right: 0px;
}

.table-new-3 th {
    background-color: #E4E2F8 !important;
    padding: 8px 30px;
    color: #011149 !important;
    border-bottom: 0px !important;
    font-size: 14px;
    font-family: 'poppinssemibold';
}

.table-new-3 tr:nth-child(2) td {
    border-top: 0px !important;
}

.table-new-3 td {
    border: 1px solid #D5D7DD !important;
    padding: 8px 30px;
    color: #000;
    font-size: 12px;
    font-family: 'poppinsregular';
}

.table-new-3 td a {
    font-family: 'poppinsmedium';
    font-size: 12px;
    color: #0000ee;
}

.table-new-3 tr td:first-child {
    font-weight: 600;
    border-left: 0px !important;
    font-size: 12px;
    font-family: 'poppinsmedium';
}

.table-new-3 tr:nth-child(2) td:last-child {
    border-bottom: 0px !important;
    border-right: 0px !important;
    border-bottom-right-radius: 10px;
}

.table-new-3 tr td:last-child {
    border-right: 0px !important;
}

.addrs-for-margin {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.kfs-buton-new {
    background-color: #F3F2FF;
    margin: 0px 4px;
    padding: 5px 16px;
    border-radius: 4px;
    border: 1px solid #015EF7;
}

.kfs-buton-new a {
    text-decoration: none;
    font-size: 14px;
    color: #015EF7 !important;
    font-weight: 500 !important;
    font-family: 'poppinsmedium';
}

.push-btns-hdb-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;

}

.hdbs-buttons-new {
    display: flex;
    gap: 10px;
    /* justify-content: center; */
}

.hdbs-buttons-new .text-right input[type='button'] {
    background-color: #015EF7 !important;
    margin: 0px !important;
    font-size: 14px;
    font-family: 'poppinsmedium' !important;
    /* margin-top: 16px !important;
    margin-bottom: 10px !important; */
}

.hdbs-buttons-new .text-right input[type='button']#high_risk_flag_manual {
    background-color: #D0342C !important;
    font-size: 14px !important;
    font-family: 'poppinsmedium' !important;
}

.hdbs-buttons-new .text-right input[type='button']#push_to_lms {
    background-color: #0FA82E !important;
    font-size: 14px !important;
    font-family: 'poppinsmedium' !important;
}

.main-div-seprate {
    display: flex;
    width: 100%;
    gap: 20px;
    /* justify-content: ; */
}

.first-div-seprate-new .table-new-3 tr td{
    padding: 16px 30px; 
   
}

.first-div-seprate-new,
.second-div-seprate-new {
    flex: 1;
}

.low-green-btn {
    background-color: #0FA82E;
    padding: 7px 12px 7px 12px;
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}

.low-green-btn .risk2 {
    position: inherit !important;
    background-color: #fff !important;
    color: #000;
    font-weight: 800;
    margin-right: 5px;
}

.high-red-btn {
    background-color: #D0342C;
    padding: 7px 12px 7px 12px;
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
}

.high-red-btn .risk2 {
    position: inherit !important;
    background-color: #fff !important;
    color: #000;
    font-weight: 800;
    margin-right: 5px;
}

.medium-yelow-btn {
    background-color: #ecc112;
    padding: 7px 12px 7px 12px;
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}

.medium-yelow-btn .risk2 {
    position: inherit !important;
    background-color: #fff !important;
    color: #000;
    font-weight: 800;
    margin-right: 5px;
}

.table-4-new {
    border: 0px !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
    background-color: #fff;
    margin-bottom: 40px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}

.table-4-new td strong {
    font-family: 'poppinsmedium';
}

.table-4-new tbody {
    display: flex;
}

.table-4-new tbody tr {
    border-right: 1px solid #E4E2F8;
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10px;
}

.table-4-new tbody tr:last-child {
    border-right: 0px;
}

.table-4-new tbody td {
    border: 0px !important;
    margin: 0px;
}

.table-4-new tbody td ul {
    margin-top: 0px;
    padding-left: 18px;
}

.table-4-new tr td a {
    font-size: 12px;
}

.table-4-new td .right,
.table-4-new td .wrong {
    right: -14px;
}

.table-5-new {
    background-color: #fff;
    border: 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}

.table-5-new tr td:first-child {
    font-family: 'poppinsmedium';
    border-left: 0px;
    border-bottom: 0px;
    border-bottom-left-radius: 10px;
}

.table-5-new tr td:nth-child(2) {
    border-right: 0px;
    border-bottom: 0px;
    border-bottom-right-radius: 10px;
}

.table-5-new tr td {
    font-size: 12px;
    font-family: 'poppinsregular';
    padding: 12px 30px;
}

.table-head-new .f_13 {
    font-size: 18px !important;
    font-family: 'poppinssemibold';
}

.blue-heading-new .editbtn_img {
    background: none !important;
}

.blue-heading-new .editbtn {
    background-color: #F6F6F8 !important;
}

.blue-heading-new input[type='button'] {
    color: #fff !important;
    font-size: 12px !important;
    font-family: 'poppinsmedium';
    padding: 4px 10px 4px 0px;
    border-radius: 6px !important;
    background-color: #0CB80C !important;
    z-index: 1 !important;
    margin: 0;
}
.update-btn-green{
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #0CB80C !important;
    border-radius: 6px !important;
}
.update-btn-green img{
    height: 18px;
    width: 18px; 
    padding-left: 6px;
}

.boxview-new .tablebox .bg-blue-new label {
    padding: 8px 0px;
    font-size: 14px !important;
    font-family: 'poppinsmedium' !important;

}

.boxview-new label {
    color: #011149 !important;
    font-size: 12px !important;
    font-family: 'poppinsmedium' !important;
    padding: 0px;
}

.boxview-new .outputline select {
    padding-left: 30px;
}

.blue-heading-new .formupdatebutton_img {
    background: none !important;
    background-color: #fff !important;
}

.blue-heading-new input[type='submit'] {
    color: #015EF7 !important;
    font-family: 'poppinssemibold';
    font-size: 12px;
    border-radius: 6px !important;
}

.boxview-shadow {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1) !important;
}

.addres-gap-flex {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    margin-bottom: 0px;
    background-color: #2767c7;
    margin-top: 0px;
}

/* .first-div-seprate-new .table-new-3 tr td{
padding: 18px 30px;

} */

/* .ui-corner-all{
    z-index: 9 !important;
} */
.salary-credit-table tr:first-child td:first-child{
    padding: 0px;
    /* height: 106px; */
}
.salary-credit-table tr:first-child td{
    height: 106px;
}

.salary-credit-table tr:first-child td table tr td{
height: 6px;
}

.salary-credit-table tr:first-child td:first-child tr td{
    padding-left: 30px;
}

.email-fraud-padding tr td{
    padding: 14px 30px !important;
}


/* .addres-gap-flex .radiolist{
    display: initial !important;
} */
/* css by parvesh raghav end */


/* animated div */

/* .animated-div {
    height: 40px;
    width: 100%;
    background-color: #F8EDB6;
    margin-top: 39px;
    margin-top: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-div marquee {
    font-size: 14px;
}

.animated-div ul {
    display: flex;
}

.openbtn-option {
    background-color: #0FA82E;
    color: #fff;
    text-transform: uppercase;
    transform: rotate(-90deg);
    width: 150px;
    height: 40px;
    font-size: 14px;
    line-height: 140%;
    border: 0px solid;
    outline: none;
    border-radius: 0 0 6px 6px;
    font-weight: 600;
    cursor: pointer;
    transition: margin-left .2s;
    position: absolute;
    top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.20);
}

.openbtn-option img {
    transform: rotate(90deg);
}

.strip-slider {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 97px;
    left: -56px;
    background-color: #fff;
    transition: 0.2s;
}

#shift-left {
    transition: margin-left .2s;
}

.data-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 14px 0;
    color: #011149;
    padding-left: 70px;
    border-bottom: 1px solid #EFEFEF;
    font-weight: 500;
    font-size: 14px;
}

.data-div {
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.14);
    border-bottom-right-radius: 10px;
    overflow-y: auto;
    max-height: 85%;
}


.data-info span {
    color: #4D3ECC;
}

.data-info .row {
    display: flex;
    align-items: center;
    gap: 4px;
}

.follow_up_heading {
    font-size: 20px;
    margin: 0;
    margin-top: 16px;
    padding-left: 70px;
    text-decoration: underline;
}
.animated-d{
    display: flex;
    align-items: center;
    gap: 30px;
}

.animated-d b{
    font-weight: 500;
} */